    .vid-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        grid-auto-flow: row;
        row-gap: 40px;
        margin-top: 5px;
        margin-left: 80px;
    }
    .thumbnail {
        width: 100%; 
        
        object-position: left;
        margin-bottom: 10px;
        cursor: pointer;
        object-fit: contain;
    }
   
    .v-title {
        width: 260px;
        margin-top: 0;
        margin-bottom: 17px;
        font-size: 100%;
        font-weight: bold;
        width: 100%;

    }
    .v-author {
        font-size: 80%;
        color: rgb(96, 96, 96);
        margin-bottom: 4px;
        margin-top: 0;
        width: 100%;

    }
    .v-stats {
        font-size: 60%;
        color: rgb(96, 96, 96);
        margin-top: 0;
    }
    .descriptions-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
        vertical-align: top;
    }
    .channel-picture {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        cursor: pointer;
    }
    .descriptions-text {
        display: inline-block;
        vertical-align: top;
    }
    .descriptions-img {
        display: inline-block;
        vertical-align: top;
    }
    .vid-time {
        background-color: black;
        color: white;
        width: fit-content;
        font-size: 10%;
        position: absolute;
        bottom: 20px;
        right: 15px;
        font-size: small;

        
    }
    .imgsec {
        position: relative;
    }
